h1
{
text-align: center;
font-size: 100px;
color: #7CF5FF;
margin: 0;
}
h2
{
    text-align: center;
    font-size: 40px;
    color: #7CF5FF;
    margin: 0;

}
body
{
    background-color: #6439FF;
    color: #00CCDD;
}
#text
{
    font-size: 50px;
    text-align: center;
}

    
.row
{
    display: flex;
    justify-content: center;

}
.letter
{
    text-align:center;
    border: 2px solid #00CCDD;
    font-size: 250%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 2%;
    color: #7CF5FF;
    background-color: whitesmoke;
}
.letter_good
{
    text-align:center;
    border: 2px solid #00CCDD;
    font-size: 250%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 2%;
    color: #7CF5FF;
    background-color: green;
}
.letter_bad
{
    text-align:center;
    border: 2px solid #00CCDD;
    font-size: 250%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 2%;
    color: #7CF5FF;
    background-color: red;
}
.letter_elsewhere
{
    text-align:center;
    border: 2px solid #00CCDD;
    font-size: 250%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 2%;
    color: #7CF5FF;
    background-color: yellow;
}
.pin
{
    display: flex;
    justify-content: center;

}

.button
{
    text-align:center;
    border: 2px solid #00CCDD;
    font-size: 90%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 30px;
    min-width:30px;
    border-radius: 2%;
    color: #7CF5FF;
    background-color: #4F75FF;
}
#zasady
{
   
    border: 2px solid #00CCDD;
    font-size: 90%;
    width: 20%;
    border-radius: 2%;
    color: #7CF5FF;
    background-color: #4F75FF; 
    position: absolute;
    top: 8%;
    left: 78%;
}
